.nav-container {
  background: $white;
  //background: $white;
  font-family: $mainFont;

  padding: 2rem 0;

  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;

  &__logo {
    h1 {
      text-transform: uppercase;
    }
  }

  &__menu {

    &--items {
      display: flex;
      justify-content: space-around;

      width: 100%;

      list-style-type: none;

      li {
        padding: 0 1rem;
      }

    }

  }

  &__links {
    text-decoration: none;
    color: $black;


    &:hover {
      cursor: pointer;
      color: $fontColor;
      text-decoration: line-through $fontColor;
      transition: 1s ease-in;
    }
  }
}