$white: #fff;
$black: #000;

$mainColor: linear-gradient(180deg, #B80F0F 99.99%, rgba(11, 29, 2, 0) 100%);

$fontColor:#B80F0F;

$width: 800px;
$maxWidth: 1000px;

@mixin mainLayout($margin: 0 auto, $width: 90%, $padding: 2rem 0) {
  margin: $margin;
  width: $width;
  padding: $padding;
}

@mixin layout ($display: flex, $justify-content: center) {
  display: $display;
  justify-content: $justify-content;
}

@mixin btnFeature($font:$mainFont, $padding: 2%, $fontSize: 18px, $bg: $mainColor, $border: 1px solid $fontColor) {
  padding: $padding;
  font-size: $fontSize;
  background: $bg;
  border: $border;
  font-family: $font;
}